@use "variables" as v; //Uso un alias para no tener que escribir "variables" todo el rato.

html {
 font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
 box-sizing: border-box; //Para que el padding y el border no afecten al ancho del elemento.
}
*,*::before,*::after {//para que el box-sizing afecte a todos los elementos.
 box-sizing: inherit;
}
body {
   font-family: v.$fuente_principal; //la importo de variables.scss
   font-size: 1.6rem;
   background-color: v.$cafeClaro;
}
p {
   color: v.$negro;
   font-size: 1.6rem;
   line-height: 2; //Interlineado de 2 líneas para que las separe un poco más.
}
.contenedor {
 width: 95%;
 max-width: 120rem;
 margin: 0 auto; // centrar el contenido
}
a {
 text-decoration: none; // quitar subrayado
}
img {
 max-width: 100%;
 display: block; // para que tome todo el espacio disponible y no quede espacio en blanco debajo de la imagen.
}
h1, h2, h3 {
   margin: 0 0 v.$separacion 0; // separación entre los títulos
   font-family: v.$fuente_principal;
   text-transform: uppercase;
   text-align: center;
   line-height: 1.5;
}

h1 {
   font-size: 4rem;
}

h2 {
   font-size: 3.6rem;
   color: v.$primario;
   span {
       color: v.$secundario;
       font-size: 1.8rem;
       display: block; // para que fuerce un salto de línea. Ya no se usa <br> 
   }
   // la imagen del grano de café va a continuación del h2.
   &::after {
       content: ''; // para que se pueda usar la propiedad background-image
       display: block; // poder darle un ancho y alto
       width: 10rem;
       height: 10rem;
       margin: 0 auto; // centrar la imagen
       background-image: url('../img/cafe.svg'); //cuidado con la ruta relativa
       background-size: 10rem; //Porque si no me corta la imagen
   }
}

h3 {
   font-size: 3.2rem;
}